In [1]:
import odo
import sqlite3
import numpy as np
import pandas as pd
import csv
import blaze

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
odo.odo((1, 2, 3), list)

[1, 2, 3]

In [3]:
%ls -l /home/david/datasets/baseball/Master.csv

-rw-rw-r--. 1 david david 2422909 Mar 17  2014 /home/david/datasets/baseball/Master.csv

In [4]:
df1 = pd.read_csv('/home/david/datasets/baseball/Master.csv')
df1.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205,75,R,R,2004-04-06,2013-09-28,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [5]:
odo.odo(df1, 'sqlite:///baseball1.db::Master')

Table('Master', MetaData(bind=Engine(sqlite:///baseball1.db)), Column('playerID', TEXT(), table=<Master>), Column('birthYear', FLOAT(), table=<Master>), Column('birthMonth', FLOAT(), table=<Master>), Column('birthDay', FLOAT(), table=<Master>), Column('birthCountry', TEXT(), table=<Master>), Column('birthState', TEXT(), table=<Master>), Column('birthCity', TEXT(), table=<Master>), Column('deathYear', FLOAT(), table=<Master>), Column('deathMonth', FLOAT(), table=<Master>), Column('deathDay', FLOAT(), table=<Master>), Column('deathCountry', TEXT(), table=<Master>), Column('deathState', TEXT(), table=<Master>), Column('deathCity', TEXT(), table=<Master>), Column('nameFirst', TEXT(), table=<Master>), Column('nameLast', TEXT(), table=<Master>), Column('nameGiven', TEXT(), table=<Master>), Column('weight', FLOAT(), table=<Master>), Column('height', FLOAT(), table=<Master>), Column('bats', TEXT(), table=<Master>), Column('throws', TEXT(), table=<Master>), Column('debut', TEXT(), table=<Master>), Column('finalGame', TEXT(), table=<Master>), Column('retroID', TEXT(), table=<Master>), Column('bbrefID', TEXT(), table=<Master>), schema=None)

In [6]:
odo.odo('/home/david/datasets/baseball/Master.csv', 'sqlite:///baseball2.db::Master', encoding='utf-8', delimiter=',')

Table('Master', MetaData(bind=Engine(sqlite:///baseball2.db)), Column('playerID', TEXT(), table=<Master>), Column('birthYear', FLOAT(), table=<Master>), Column('birthMonth', FLOAT(), table=<Master>), Column('birthDay', FLOAT(), table=<Master>), Column('birthCountry', TEXT(), table=<Master>), Column('birthState', TEXT(), table=<Master>), Column('birthCity', TEXT(), table=<Master>), Column('deathYear', FLOAT(), table=<Master>), Column('deathMonth', FLOAT(), table=<Master>), Column('deathDay', FLOAT(), table=<Master>), Column('deathCountry', TEXT(), table=<Master>), Column('deathState', TEXT(), table=<Master>), Column('deathCity', TEXT(), table=<Master>), Column('nameFirst', TEXT(), table=<Master>), Column('nameLast', TEXT(), table=<Master>), Column('nameGiven', TEXT(), table=<Master>), Column('weight', FLOAT(), table=<Master>), Column('height', FLOAT(), table=<Master>), Column('bats', TEXT(), table=<Master>), Column('throws', TEXT(), table=<Master>), Column('debut', DATETIME(), table=<Master>), Column('finalGame', DATETIME(), table=<Master>), Column('retroID', TEXT(), table=<Master>), Column('bbrefID', TEXT(), table=<Master>), schema=None)

In [7]:
jf = odo.JSON('x.json')
odo.odo(df1,jf)